@font-face {
    font-family: 'NPSstatic';
    font-style: normal;
    font-display: swap;
    font-weight: 10;
    src: url('./NPSstatic/NPSVariable-CHAR0.woff2') format('woff2');
}

@font-face {
    font-family: 'NPSstatic';
    font-style: normal;
    font-display: swap;
    font-weight: 100;
    src: url('./NPSstatic/NPSVariable-CHAR100.woff2') format('woff2');
}

@font-face {
    font-family: 'NPSstatic';
    font-style: normal;
    font-display: swap;
    font-weight: 1000;
    src: url('./NPSstatic/NPSVariable-CHAR1000.woff2') format('woff2');
}
