*/
'NPS Variable'는 노플라스틱선데이의 전용서체 입니다.
- 'NPS Variable'는 유료 폰트로 소유권은 (주)프래그에 있습니다.
- 소유자와의 협의 없는 사용 및 복제를 금합니다.
- 개인, 기업사용자 모두 상업적인 용도의 사용을 금합니다.
- 수정, 다른 디지털 포맷으로 변형, 복사, 대여, 임대, 재판매, 배포, 이전을 금합니다.

'NPS Variable' font is not commercially free to use.
Do Not Convert the fonts to different formats or Modify, reverse engineer, decompile or disassemble fonts.
Please send us an e-mail at hi@noplasticsunday.com
NoPlasticSunday.com
*/

@font-face {
	font-family: 'NPS Variable';
	font-weight: 0 1000;
	font-style: normal;
	font-display: swap;
	src: url('NPSVariableVF.woff2') format('woff2-variations');
}
